%h2 Conversation with #{@convo.listener_emails [current_user]}
- if @messages.any?
  %table.table
    %tr
      %th Sender
      %th Subject
      %th Body
      %th Read
    = render partial: "message", collection: @messages

%h2 Send a message
= render partial: "new", :locals => { :convo => @convo, :message => @message }