%h1 Conversation with #{@convo.listener_emails [current_user]}
- if @messages.any?
  %table
    %tr
      %th Sender
      %th Subject
      %th Body
      %th Read
    = render partial: "message", collection: @messages
