%h1 Messages
- if @received_messages.any?
  %h2 Received Messages
  %table
    %tr
      %th Sender
      %th Receiver
      %th Subject
      %th Body
      %th Read
    = render partial: "message", collection: @received_messages
- if @sent_messages.any?
  %h2 Sent Messages
  %table
    %tr
      %th Sender
      %th Receiver
      %th Subject
      %th Body
      %th Read
    = render partial: "message", collection: @sent_messages