%h2 Conversations
- if @conversations.any?
  %table.table
    %tr
      %th Show
      %th Listeners
      %th Last Message
    = render partial: "conversation", collection: @conversations
- else
  Visit
  = link_to "Users", users_path
  to start a conversation
