.col-sm-6.col-md-4
  .thumbnail
    %img{alt: "...", "data-src" => "holder.js/300x200"}/
    .caption
      %h3= user.email
      %p ...This is the crappy user profile...
      %p
        %a.btn.btn-primary{href: "#", role: "button"} Message
        %a.btn.btn-danger{href: "#", role: "button"} Block