.col-sm-6.col-md-3
  .thumbnail
    = image_tag avatar_url(user), alt: "#{user.email}'s gravatar", :class => 'avatar'
    .caption
      %h3= user.email
      %p ...This is the crappy user profile...
      %p
        %a.btn.btn-default{href: user_path(user), role: "button"} Profile
        %a.btn.btn-info{href: user_messages_path(user), role: "button"} Message